@import url("fonts/local.css");

html {
    font-family: 'Roboto', sans-serif
}

body {
    margin: 0;
    background-image: url("media/background.svg");
    overflow: hidden;
}

.navbar {
    background-color: #1a1a1a;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.logo {
    max-height: 100%;
    max-width: 100%
}

.logo img {
    height: auto;
    width: 10rem;
}

.navmenu {
    visibility: hidden;
    z-index: -1000;
    position: absolute;
}

.navmenu ul {
    display: inline-flex;
    list-style: none;
    margin-right: 1em;
}

.navmenu ul li {
    padding: 1em;
}

.navmenu a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color:rgb(54, 194, 75);
}

.current {
    color:rgb(54, 194, 75) !important;
    border-bottom: 2px rgb(54, 194, 75) solid;
}

#hamburger-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#hamburger-btn img:hover {
    fill:rgb(54, 194, 75)
}

#hamburger-menu {
    visibility: hidden;
    position: absolute;
    z-index: -10000;
    background: rgba(119, 184, 133, 0.598);
    padding: 1em;
    right: 0;
    border-radius: 5%;
}

#hamburger-menu ul {
    list-style: none;
}

#hamburger-menu ul li {
    padding: 1em;
}

#hamburger-menu a {
    color: black;
    text-decoration: none;
}

#hamburger-menu a:hover {
    color: white;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    color: black;
    padding: 3em;
    width: 100%;
    z-index: 2;
    position: relative;
}

.me {
    margin-top: -110px;
    z-index: 1;
    position: sticky;
    left: 10%;
    margin-top: 3em;
}

#me {
    width: 40%;
}

@media ( min-width: 900px ) {
    .navmenu {
        visibility: visible;
        z-index: auto;
        position: inherit;
    }
    .hamburger {
        visibility: hidden;
    }
    .content {
        margin: 5em;
        width: 90%;
        border-radius: 1em;
    }
    #me {
        width: 20%;
    }
}